<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Flask App</h1>
    <input type="text" id="textInput" placeholder="Enter text">
    <button onclick="sendText()">Send</button>
    <pre id="result"></pre>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
